@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /*homepage*/
    .home {
        @apply text-gray-300 text-center;
    }
    .header {
        @apply text-[45px] my-7 font-mono uppercase font-bold;
    }
    .nav {
        @apply font-mono text-2xl;
    }
    .content {
        @apply sm:flex sm:flex-row-reverse w-full p-4;
    }
    .content .image img {
        @apply m-auto;
    }
    .content .image {
        @apply flex sm:w-1/2;
    }
    .content .text {
        @apply text-4xl font-mono my-10 sm:w-1/2 !important;
    }

    /*404*/
    .notfound {
        @apply font-mono font-bold text-7xl text-center text-gray-300 mt-20;
    }

    /*parts, inventions*/
    .partImgDiv, .invImgDiv {
        @apply flex;
    }
    .partImg, .invImg {
        @apply m-auto max-w-full p-2 rounded-2xl max-h-96;
    }
    .part, .invention {
        @apply font-mono text-gray-300 bg-[#222] 
        mt-5 rounded-2xl mr-5 text-center p-4;
    }
    .partDesc, .invDesc {
        @apply mt-4;
    }
    .partDescLine, .invDescLine {
        @apply mt-2;
    }
    .partCost, .invCost {
        @apply text-[30px] mt-3;
    }
    .partName, .invName {
        @apply text-[40px];
    }
    .partList, .invList {
        @apply p-2 grid grid-cols-1 sm:grid-cols-2 
        lg:grid-cols-3;
    }
    .partSearch {
        @apply flex;
    }
    .partSearch input {
        @apply m-auto mt-8 h-14 w-80 text-[20px] 
        focus:outline-none text-gray-300 bg-[#222] 
        p-4 rounded-2xl;
    }
    .invCreator {
        @apply mt-4 text-xl;
    }


    .styledForm {
        @apply text-gray-300 bg-[#183859]/20 mt-10 
        w-full xxs:w-[85%] xs:w-[75%] sm:w-[60%] md:w-[45%]
        rounded-2xl m-auto p-10;
    }
    .styledSubmit button {
        @apply bg-[#415daf]/20 hover:cursor-pointer 
        rounded-[20px] text-[30px] mt-[50px] m-auto w-3/4 
        h-[80px] hover:text-white hover:bg-[#002daf]/20
        active:bg-[#002daf]/10 transition-all;
    }
    .styledSubmit, .styledInput, .invalidInput {
        @apply flex;
    }
    .styledInput input, .invalidInput input {
        @apply m-auto bg-[#0d2540]/40 rounded-2xl 
        h-[65px] mt-10 text-[25px] outline-none p-4;
    }
    .invalidInput input {
        @apply text-red-500 caret-gray-300 !important;
    }

    .afterVerify {
        @apply text-gray-300 font-mono m-auto mt-[10%] text-[50px] text-center;
    }
    .verifyWrapper {
        @apply flex;
    }
}